* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: radial-gradient(circle at 20% 20%, #0f4cff, #020b2a);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    backdrop-filter: blur(18px);
    background: rgba(255,255,255,0.08);
    border-radius: 20px;
    padding: 40px;
    width: 420px;
    text-align: center;
    box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

logo {
  width: 70px;
  height: 70px;
  margin-bottom: 12px;
  filter: drop-shadow(0 4px 12px rgba(0,0,0,0.4));
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.tag {
    opacity: 0.8;
    margin-bottom: 25px;
}

.input-group {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px 14px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #1cff9b, #00ffa6);
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px #00ffa6;
}

.result {
    margin-top: 30px;
}

.status {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.status.legitimate {
    color: #3cffb3;
}

.status.phishing {
    color: #ff4d4d;
}

.confidence {
    margin-top: 6px;
    opacity: 0.8;
}

.gauge {
    width: 200px;
    height: 100px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.gauge-fill {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(
        #ff3d3d calc(var(--value) * 1%),
        #00ffa6 0
    );
    transform: rotate(-90deg);
}

.gauge-cover {
    width: 160px;
    height: 80px;
    background: #020b2a;
    border-radius: 100px 100px 0 0;
    position: absolute;
    bottom: 0;
    left: 20px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
}